<!-- Defines how the Question modal will look -->
<div class="modal fade" id="question_display_Modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- Displays the question at the top of the modal. Javascript finds the "modal-title" class and populates it with the question contents. -->
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

        <!-- Creates the text box for the user to input their answer. The submit button is only able to be clicked once the user has some content in the text box. -->
        <form accept-charset="UTF-8"
              action="/questions/question['id']/answers"
              class="new_answer"
              data-remote="true"
              id="new_answer"
              method="post">
          <div style="display:none">
            <input name="utf8" type="hidden" value="✓" />
          </div>
          <textarea class="form-control" id="answer_text" name="answer[text]" placeholder="Type your answer here"></textarea>
          <div class="center btn-div">
            <input class="btn btn-theme btn-lg"
                   id="submit_answer"
                   name="commit"
                   type="submit"
                   value="Submit answer" />
          </div>
        </form>

        <!-- Displays the correct answer to the question once the user submits their answer -->
        <div id="answers" class="prettyform">
          <div class="container">
            <div class="box center" style="display: block;">
              <h3>Answer:</h3>
              <h5 class="first-answer"></h5>
            </div>
          </div>
        </div>

        <!-- Allows the user to note whether or not they got the question right. Creates two buttons, of which the user presses one (yes/no).-->
        <div id="response">
          <br>
          <h4 class="center"><b>Did you know the answer?</b></h4>
          <div class="row">
            <div class="col-xs-6 yes">
              <a id="respond-yes" class="btn-flat btn-success"><i class="fa fa-check"></i></a>
            </div>
            <div class="col-xs-6">
              <a id="respond-no" class="btn-flat btn-pink"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
        <br>

        <!-- Alert box appears after the user answers whether or not they got the question right  -->
        <div id="alert_text_container" class="alert center" style>
          <div id="alert_text"> </div>
          &nbsp;
          <a class="close-alert grow"><i class="fa fa-times-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
