<span id="qset_context">
  <h4>Qset</h4>
  <% @qset_context.each do |group| %>
    &gt;
    <% if group['id'] == @current_qset_id %>
      <% if current_user and current_user.role?(:admin) %>
        <a class="underlined-link" id="edit-question-group" data-toggle="modal" data-target="#modal-edit-question-group">
          <%= group['name'] %>
        </a>
      <% else %>
        <span class="underlined-link"> <%= group['name'] %> </span>
      <% end %>
    <% else %>
      <%= link_to group['name'], questions_path(qset_id: group['id']) %>
    <% end %>
  <% end %>
  <% unless @children_option_list.empty? %>
    &gt;
    <%= select_tag(:qsets, options_for_select(@children_option_list), id: 'question-groups') %>
  <% end %>
</span>
