<div class="modal fade" id="modal-new-qset" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Qset</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="/qsets" method="post">
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <input type="hidden" name="parent_id" value="<%= @qset.id %>"/>
          <div class="form-group">
            <label for="text"> What name would you like for this new qset? </label>
            <input type="text" class="form-control" name="name" />
          </div>
          <div class="form-group">
            <label for="text">Qset Type: </label>
            <label class="qset-type-padding" for="questions">Questions</label>
            <input type="radio" id="questions" name="qset_type" value="questions" checked>
            <label class="qset-type-padding" for="subsets">Subsets</label>
            <input type="radio" id="subsets" name="qset_type" value="subsets">
            <label class="qset-type-padding" for="mixed">Mixed</label>
            <input type="radio" id="mixed" name="qset_type" value="mixed">
          </div>
          <div class="form-group">
            <label for="text"> This qset will be created under the parent group: </label>
            <input type="text" class="form-control" name="parent" value="<%= @qset.name %>" disabled />
          </div>
          <button type="submit" class="btn btn-theme" id="new-qset-submit" aria-label="Create qset">
            Create
          </button>
          <button type="button" class="btn btn-flat" data-dismiss="modal" aria-label="Cancel">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
