<span id="qset_context">
  <h4>
    Qset: <%= @qset.name %>
    <% if can? :manage, Qset %>
      <a class="btn shortcut-button-link"
         id="edit-qset"
         data-toggle="modal"
         data-target="#modal-edit-qset">
        <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
      </a>
      <!-- todo: delete button here? -->
    <% end %>
  </h4>
  <% for qset in @qset.ancestors.reverse %>
    <%= link_to h(qset.name), qset %> &gt;
  <% end %>
  <%= @qset.name %>
  <% unless @qset.children.empty? %>
    &gt;
    <%= select(@qset, :qset_id, @qset.children.map {|qs| [qs.name, qs.id, {:'data-qset-url' => qset_path(qs.id)}]}, {prompt: "sub-qsets"}, :id => 'qsets') %>
  <% end %>
  &gt;
  <a class="btn shortcut-button-link"
     id="new-qset"
     data-toggle="modal"
     data-target="#modal-new-qset">
    <span class="glyphicon glyphicon-plus-sign shortcut-button-glyphicon"></span>
  </a>

</span>
