<div class="row">
  <div class="col-xs-12">
    <%= render "qset_context" %>
  </div>
</div>
<div class = "row center">
  <div class="col-xs-12">
    <%= render "breadcrumbs" %>
  </div>
</div>
<div class="row center">
  <div class="col-xs-12">
    <%= render "generate_question" %>
  </div>
</div>
<div class="row center">
  <div class="col-xs-12">
    <%= render "all_mine_other_filter" %>
  </div>
</div>
