<div class ="row">
  <div class="col-xs-12">
    <%= render "qset_context" %>
  </div>
</div>
<div class = "row">
  <div class="col-xs-6">
    <%= render "generate_question" %>
  </div>
  <div id="all-mine-other-offset" class="col-xs-6">
    <%= render "all_mine_other_filter" %>
  </div>
</div>
