<div class = "row">
  <div class="col-xs-4">
    <%= render "generate_question" %>
  </div>
  <div class="col-xs-4">
    <%= render "qset_context" %>
  </div>
  <div id="all-mine-other-offset" class="col-xs-4">
    <%= render "all_mine_other_filter" %>
  </div>
</div>
