   <div class="row qset_list">
    <% @qsets.each_with_index do |qset, index| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row valign">
              <div class="col-sm-11">
                <span style="cursor:default">
                  <%= link_to(qset) do %>
                    <%= qset.name %>
                  <% end %>
                  <div class="pull-right">
                    <span class="badge"><%= @question_counts[qset.id] %></span>
                  </div>
                </span>
              </div>
            </div>
          </h4>
        </div>
      </div>
    <% end %>
  </div> <!-- .qset-list -->
  <br>

