<div class="container">
  <br>
  <h3 class="center"><b>AskUp</b></h3><br>
  <h3 class="center"><b>Institution: <%= @qset.name %></b></h3><br>

<br>
<br>

<%= render :file => 'qsets/index.html.erb' %>


</div>
