<div class="container">
  <div class="row">
    <%= render "qset_context" %>
  </div>
  <%= render "qset_list" %>
  <% if can? :manage, Qset %>
    <%= render "modal_edit_qset" %>
    <%= render "modal_new_qset" %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    initQsets();
  });
</script>
