// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#single-response, #response {
  .yes {
    text-align: right;
  }
  a {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
    color: white;
    &:hover {
      color: white;
    }
  }
  body {
    color: white;
  }
}
#single-answers, #answers {
  .correct_div {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    .correct {
    background: #FFFFFF;
    color: black;
    padding: 20px;
    border-radius: 5px;
    
    } 
  }
  
}

