// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all-mine-filter{
  margin-bottom: 15px;
}

.panel-title {
  .btn-flat {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.btn-div{
  margin-top:1.2em;
}

.reveal_btn {
  float:right;
  text-align: right;
}

.full-width-container {
  width: 100%;
  margin-top: 0px;
}

@media (min-width: 992px) {
  .full-width-container {
    margin-top: 60px;
  }
}

.newquestion, .editquestion {
  textarea {
    height: 110px;
  }
  .box {
    min-height: 80%;
  }
}

.title-no-margin {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0em;
}

.shortcut-button-link {
  padding: 0;
}

.shortcut-button-glyphicon {
  color:black;
  &:hover {
    color: gray;
  }
}

.modal-body-social{
  padding:40px 50px;
}

.modal-header-social{
  padding:35px 50px; 
  background-color: #00b3fe; 
  color: #FFFFFF;
}

.underlined-link {
  cursor: pointer;
  text-decoration: underline;
}

.question-content, .question-voting {
  float: left;
}

.downvote-button, .upvote-button {
  color: black;
  cursor: pointer;
}

.net-votes p {
  font-size: 24px;
  text-align: center;
  margin: 10px 0 0 0;
}

.question-content {
  width: 100%;
  word-wrap: break-word;
}
  .question-content a {
    font-size: 24px;
  }

.col-sm-6 {
  width: 50%; /* override base responsive css that removes this when width < 768px */
} 
