#all-mine-other-container {
  padding: 20px 25px 10px 0px;
}

#all-mine-other-group {
  float: right;
}

@media only screen and (max-width: 767px) {
  #all-mine-other-group {
    float: none !important; /* !important attribute is necessary to override the initial float right attribute*/
    text-align: center;
  }
  #generate-question-group {
    float: none !important;
  }
}

.btn-div{
  margin-top:1.2em;
}

.col-sm-6 {
  width: 50%; /* override base responsive css that removes this when width < 768px */
}

.full-width-container {
  width: 100%;
  margin-top: 0px;
}

@media (min-width: 992px) {
  .full-width-container {
    margin-top: 60px;
  }
}

#generate-question-group{
  float: left;
}

#generate-question-container {
 padding: 20px 0px 10px 25px;
}


.newquestion, .editquestion {
  textarea {
    height: 110px;
  }
  .box {
    min-height: 80%;
  }
}

.modal-body-social{
  padding:40px 50px;
}

.modal-header-social{
  padding:35px 50px; 
  background-color: #00b3fe; 
  color: #FFFFFF;
}

// Question Voting
.question-voting {
  float: left;
  margin: 12px 10px 0px 10px;
}
.downvote-button, .upvote-button {
  color: black;
  cursor: pointer;
  display: block;
}
.net-votes {
  float: left;
  margin: 0px 10px 0px 10px;

  p {
    font-size: 24px;
    text-align: center;
    margin: 12px 0 0 0;
  }
}

.question-content {
  cursor: default;
  float: left;
  font-size: 24px;
  width: 100%;
  word-wrap: break-word;
  // right- and top-align edit/delete icons
  .actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.qset-list {
  cursor:default;  // cursor won't change to caret/text insert over badges
}

.question-page-title{
  display: inline-block;
}

.reveal_btn {
  float:right;
  text-align: right;
}

.shortcut-button-link {
  padding: 0;
}

.shortcut-button-glyphicon {
  color:black;
  &:hover {
    color: gray;
  }
}

// On small screens (bootstrap xs) show-small-screen and replace with show-large-screen otherwise
.show-small-screen {
  display: none;
}
@media only screen and (max-width: 767px) {
  .show-small-screen {
    display: block;
  }
  .show-large-screen {
    display: none;
  }
}

.title-no-margin {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0em;
}

ul.qset-list-compressed {
  list-style: none;
  padding-left: 10px;
}

.underlined-link {
  cursor: pointer;
  text-decoration: underline;
}
