// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all-mine-filter{
  margin-bottom: 15px;
}

.panel-title {
  .btn-flat {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.btn-div{
  margin-top:1.2em;
}

.reveal_btn {
  float:right;
  text-align: right;
}

.full-width-container {
  width: 100%;
  margin-top: 0px;
}

@media (min-width: 992px) {
  .full-width-container {
    margin-top: 60px;
  }
}

.newquestion, .editquestion {
  textarea {
    height: 110px;
  }
  .box {
    min-height: 80%;
  }
}

.nq-title, .eq-title, .show-question-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0em;
}

.delete-button, .edit-button {
  padding: 0;
}

.delete-button-glyphicon, .edit-button-glyphicon {
  color:black;
}

.delete-button-glyphicon:hover{
  color:gray;
}

.edit-button-glyphicon:hover {
  color:gray;
}


.modal-body-social{
  padding:40px 50px;
}

.modal-header-social{
  padding:35px 50px; 
  background-color: #00b3fe; 
  color: #FFFFFF;
}






